<header>
    <nav>
      <ul>
        <li>Midterm 1
          <ul>
            <li><a href="{{ "/Midterm1/note1" | relative_url }}">1 - Boolean Algebra</a></li>
            <li><a href="{{ "/Midterm1/note2" | relative_url }}">2 - Binary Arithmetic, SSH</a></li>
            <li><a href="{{ "/Midterm1/note2" | relative_url }}">3 - Binary Arithmetic cont.</a></li>
            <li><a href="{{ "/Midterm1/note2" | relative_url }}">4 - Bitwise</a></li>
            <li><a href="{{ "/Midterm1/note2" | relative_url }}">5 - Bitwise cont.</a></li>
            <li><a href="{{ "/Midterm1/note2" | relative_url }}">6 - Endian and Floating Point</a></li>
            <li><a href="{{ "/Midterm1/note2" | relative_url }}">7 - Muxes, Clocks, and Flip-Flops</a></li>
            <li><a href="{{ "/Midterm1/note2" | relative_url }}">8 - Code and Circuits</a></li>
            <li><a href="{{ "/Midterm1/note2" | relative_url }}">9 - Building to a Computer</a></li>
            <li><a href="{{ "/Midterm1/note2" | relative_url }}">10 - fetch-decode-execute, ISA</a></li>
            <li><a href="{{ "/Midterm1/note2" | relative_url }}">11 - ISA</a></li>
            <li><a href="{{ "/Midterm1/note2" | relative_url }}">12 - Writing Machine Code</a></li>
            <li><a href="{{ "/Midterm1/note2" | relative_url }}">13 - Push, Pop, and Functions</a></li>
            <li><a href="{{ "/Midterm1/note2" | relative_url }}">14 - Overview</a></li>
            <li><a href="{{ "/Midterm1/note2" | relative_url }}">15 - Functions</a></li>
            <li><a href="{{ "/Midterm1/note2" | relative_url }}">Midterm 1 Study Guide</a></li>
          </ul>
        </li>
        <li>Midterm 2
          <ul>
            <li><a href="{{ "/Midterm2/note3" | relative_url }}">Note 3</a></li>
            <li><a href="{{ "/Midterm2/note4" | relative_url }}">Note 4</a></li>
          </ul>
        </li>
        <li>Midterm 3
          <ul>
            <li><a href="{{ "/Midterm3/note5" | relative_url }}">Note 5</a></li>
            <li><a href="{{ "/Midterm3/note6" | relative_url }}">Note 6</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </header>
  